* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 20px;
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.navigation {
  background-color: #000;
  color: #ffffff;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
  justify-content: space-between;
}

footer {
  background-color: #000;
  color: #ffffff;
  text-align: left;
  padding: 10px;
}

.navigation-logo img {
  padding: 5px;
  width: 128px;
  height: auto;
}

.navigation-link {
  transition: all 0.3s ease;
  margin-left:15px;
}

.navigation-link:hover {
  color: #bc1414;
}

.cover {
  background-image: url('/slide.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding: 20px;
  text-align: right;
  image-rendering: pixelated;
}

.title {
  color: #3b3b3b;
  font-size: 90px;
}

.section-title {
  font-size: 50px;
  font-weight: bold;
  color: #bc1414;
  text-align: center;
}

.card-name {
  font-size: 28px;
  color: #ababab;
}

.columns {
  display: flex;
}

.column-half {
  flex: 50%;
  padding: 16px;
}

.gallery-image {
  width: 640px;
  height: 360px;
  border-radius: 5px;
  object-fit: cover;
  margin: 10px;
}

.container {
  padding: 16px;
}

.section-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  border: 1px solid #ababab;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  height: 500px;
}

.card p {
  text-align: justify;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.game-card {
  margin: 10px;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.game-card:hover {
  background-color: #ababab;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
  }

  .columns {
    flex-direction: column;
  }

  .column-half {
    flex: 100%;
    padding-left: 4px;
    padding-right: 4px;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding-left: 4px;
    padding-right: 4px;
  }
}
